body{  padding: 0;  margin:0;  }
/*======================================================================================================================================*/
/*头部*/
.top{background:#EDEFDC;min-width: 1500px;}
.top1{
    width: 1000px;
    height:140px;
    background:url("../images/top_bg.jpg") no-repeat  center;
    margin:0 auto;  position: relative;white-space: nowrap;
}
.top1>div:first-child>a>img{width:245px;
    height: 54px;
    position: absolute;
    top: 33px;
}
.top1>div:nth-child(2){ width:250px;  height:130px;
    margin-left:500px; }
.top1>div:nth-child(2)>input{  width:144px;  height:27px;
    margin:86px 0 0 37px;
    font-size: 12px;
    padding:7px;
}
.top1>div:nth-child(2)>p{  display: inline-block;
    width:70px;  height:27px;  color:white;
    background:#CF7D57;
    cursor: pointer;
    text-align: center;
    line-height: 27px;
    margin-left: -6px; }
.top1>div:last-child{width:200px;height: 20px;
    position: absolute;top:90px;left:802px;
    overflow: hidden;
}
.top>.top1>div:last-child>ul>li{
    list-style: none;
    float:left;
    margin-left: 10px;
    font-size: 12px;
    font-weight: normal;
}
.top>.top1>div:last-child>ul{
    display: inline-block;
    white-space: nowrap;
}
.top>.top1>div:last-child>ul>li>a{color:#CF7D57;text-decoration: none;}

.top2{background:#d14f42; width: 100%;min-width: 1500px;}
.top2 ul li{
    display:inline-block;
    margin-left:-5px;
}
.top2 ul li a{color: #eee5d4;
    text-decoration: none;
    font-size: 14px;
    width: 100px;
    display: block;
    line-height: 30px;
    text-align: center;
    background: url("../images/topnav_bg.png") no-repeat center;
}
.top2 ul li a:hover{ background:#888888;}
.top3{
    width: 1000px;
    margin:0 auto;
    white-space: nowrap;
}
/*======================================================================================================================================*/
/*主体部分*/
.navbg{
    background:url("../images/lvyoujingqu/scenic1.jpg")  center;
    height: 550px;
    overflow: hidden;
    min-width: 1500px;
}
.cont-width{width:1000px;height:1200px;margin:0 auto;background-color: #f2f0db;}
.cont-width_one{height: 78px; background-color: #da4445;color:#fff;font-size: 19px;padding-left:50px;line-height: 78px;}
.cont-width_two{height:210px;}
.cont-width_two>span:nth-child(1){display: block;float: left;margin:15px 0 0 50px;}
.cont-width_two>span:nth-child(2){width: 730px;font-size:14px; line-height: 28px;color: #9b8961;margin:10px 0 0 50px;display: block;float: left;}
.cont-width_three{height:78px;background-color: #da4445;color:#fff;font-size: 19px;padding-left:50px;line-height: 78px;
    width:170px;border-top-right-radius:50px;border-bottom-right-radius:50px;}
.cont-width-three-dapian{margin-top:-48px;}
/*图片*/
.info {  transform: rotate3d(1, 0, 0, 90deg);
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    pointer-events: none;
    background-color:#E0DEDE;
}
.in-top .info {
    transform-origin: 0% 0%;
    animation: in-top 300ms ease 0ms 1 forwards;  }
.in-bottom .info {
    transform-origin: 50% 100%;
    animation: in-bottom 300ms ease 0ms 1 forwards;  }
.in-right .info {
    transform-origin: 100% 0%;
    animation: in-right 300ms ease 0ms 1 forwards;  }
.in-left .info {
    transform-origin: 0% 0%;
    animation: in-left 300ms ease 0ms 1 forwards;  }
.out-right .info {
    transform-origin: 100% 50%;
    animation: out-right 300ms ease 0ms 1 forwards;  }
.out-left .info {
    transform-origin: 0% 0%;
    animation: out-left 300ms ease 0ms 1 forwards;  }
@keyframes in-right {
    from {  transform: rotate3d(0, -1, 0, 90deg);  }
    to {  transform: rotate3d(0, 0, 0, 0deg);  }
}
@keyframes in-left {
    from {transform: rotate3d(0, 1, 0, 90deg);  }
    to {transform: rotate3d(0, 0, 0, 0deg); }
}
@keyframes out-right {
    from {transform: rotate3d(0, 0, 0, 0deg);  }
    to { transform: rotate3d(0, -1, 0, 104deg);  }
}
@keyframes out-left {
    from {  transform: rotate3d(0, 0, 0, 0deg);  }
    to {  transform: rotate3d(0, 1, 0, 104deg);  }
}
@keyframes in-top {
    from {transform: rotate3d(-1, 0, 0, 90deg);  }
    to {  transform: rotate3d(0, 0, 0, 0deg);  }
}
@keyframes in-bottom {
    from { transform: rotate3d(1, 0, 0, 90deg);  }
    to { transform: rotate3d(0, 0, 0, 0deg); }
}
* { box-sizing: border-box; }
.bontainer,.dontainer {  width: 1100px;  margin: 0 auto;  }

.bontainer ul,.dontainer ul {
    padding: 0;
    margin: 0 0 50px;  }
.bontainer ul:after,.dontainer ul:after {
    content: "";
    display: table;
    clear: both;  }
.bontainer ul li,.dontainer ul li {
    position: relative;
    float: left;
    width: 320px;
    height:170px;
    margin: 5px;
    padding: 0;
    list-style: none;
    perspective: 640px;}
.bontainer ul li a ,.dontainer ul li a{
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    border-radius: 4px;  }
.bontainer ul  li h3,.dontainer ul  li h3 {
    font-size: 16px;
    color:#998353;  }
.bontainer ul  li p,.dontainer ul  li p {
    font-size: 12px;
    line-height: 1.5;
    color: #000000;
    margin-top: 10px;
    text-align: justify;}
.bontainer ul li .normal img,.dontainer ul li .normal img{
    width:310px;
    height:170px;
    border-radius: 4px;  }

/*======================================================================================================================================*/
/*尾部*/
/*底部第一部分*/
.bottom_1{  height:25px;text-align: center;}
/*底部第二部分*/
.bottom_2{    height:92px;background:#1C1C1C;min-width: 1500px; }
.bottom_2>ul{list-style: none; width:600px; height:92px;margin:0 auto;white-space: nowrap}
.bottom_2>ul>li{display:inline-block;margin-top:18px;white-space: nowrap}
.bottom_2>ul>li>a{color:white;font-size: 12px; margin-left:1px;text-decoration: none;}
.bottom_2>ul>li:first-child{margin-left:80px;}
.bottom_2>div:nth-child(2){width:1000px;height:60px;margin: -56px auto;}
.bottom_2>div:nth-child(2)>p{color:white;font-size: 12px;margin-top: 10px; text-align: center;}
/*底部第三部分*/
.bottom_3{ height:62px; background:#2F3032;min-width: 1500px;}
.bottom_3>div{width:1000px;height:50px;margin: 0 auto;}
.bottom_3>div>p{color:white;text-align: center;font-size: 12px;line-height: 62px;}